@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

button {
  border: none;
  background-color: #661fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 2px;
  margin-left: 10px;
  box-shadow: 2px 16px 22px -28px rgba(66, 68, 90, 1);
  text-decoration: none;
}
.addButton {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 16 0;
  height: calc(56px - 15px);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 16px 22px -28px rgba(66, 68, 90, 1);
  border: none;
  background-color: #661fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 2px;
  margin-left: 10px;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: space-between;
}

/* main {
  background-color: green;
  height: calc(100vh - 71px);
} */

.leaflet-container {
  height: calc(100vh - 71px);
}

input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 12px 8px 12px 12px;
  transition: 0.1s;
}
input:valid {
  border-color: red;
}
input::placeholder {
  font-size: 12px;
}

input:hover {
  border: 1px solid #888;
}

input:focus {
  border: 1px solid #661fff;
}
