* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #6200ee;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 20px;
  font-weight: normal;
}

button {
  border: none;
  background-color: #2a913e;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 2px;
  margin-left: 10px;
}


.search{
   display: flex;
   justify-content: space-between;
}

main{
   background-color: green;
   height: calc(100vh - 56px);
}